<%= form_with(model: manufactor, local: true) do |form| %>
  <% if manufactor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manufactor.errors.count, "error") %> prohibited this manufactor from being saved:</h2>

      <ul>
      <% manufactor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :manufactor_name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :manufactor_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
