<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manufactor.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @manufactor.location %>
</p>

<%= link_to 'Edit', edit_manufactor_path(@manufactor) %> |
<%= link_to 'Back', manufactors_path %>
