<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @car.number %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Date:</strong>
  <%= @car.date %>
</p>

<p>
  <strong>Manufactor:</strong>
  <%= @car.manufactor_id %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
